# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/doc

# dependencies
/node_modules
/bower_components

# misc
/.nyc_output
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
